# Node
node_modules/
.env
bd.env

# WhatsApp Web session
.wwebjs_auth/
.wwebjs_cache/

# Logs y archivos temporales
*.log

# SO y editor
.DS_Store
.vscode/
web/Backend/config/google-oauth-*.json
web/Backend/config/google-oauth-*.json
web/Backend/config/google-oauth-client.json
web/Backend/config/google-oauth-tokens.json
